
.Popoverscroll  {
    z-index: 999;
    min-width: 400px;
    min-height: 20vh;
    max-height: 85vh !important;
    overflow: auto;
    white-space:pre-wrap;
    /*resize: both;*/
    padding-bottom: 10vh;
}

.Popoverscroll .tableHeading {
    font-size: 18px  !important;
}

.tableHeading {
    font-size:30px
}

.tooltip {
    min-width: 5%;
}

