
.Popoverscroll  {
    z-index: 999;
    min-width: 400px;
    min-height: 400px;
    max-height: 900px !important;
    overflow: scroll;
    white-space:pre-wrap;
    resize: both;
}

.Popoverscroll .tableHeading {
    font-size: 18px  !important;
}

.tableHeading {
    font-size:30px
}

.tooltip {
    min-width: 5%;
}

