.formeltree-container{
    display: flex;
    flex-direction: row;
}


.formeltree-nodes-container {
    flex-direction: column;
    align-items: flex-start;
}


.formeltree-rootBtn  {
    font-size: 20px;
    font-weight: bold;
    display:inline-block;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #262626;
    border: none;
    border-left: 5px solid blueviolet;
}

.formeltree-subNodeBtn  {
    font-size: 20px;
    /*width:100%;*/
    display:compact;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #262626;
    text-align: center;
    border: 1px solid green;
    border-collapse: collapse;
}

tr {
    border: 1px solid black;
}

th,td {
    border-top: 1px solid black;
}

.table,th,td {
    padding: 5px;
    margin-top: 3px;
}


.formeltree-nodes-container ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
}

.formeltree-nodes-container li {
    list-style-type: none;
    border-left: 2px solid #000;
    margin-left: 1.5em; /*vertical line to the left position*/
}

.formeltree-nodes-container li div {
    padding-left: 0.55em; /*distance of the font to the left*/
    position: relative;
}

.formeltree-nodes-container li div::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    bottom: 40%; /*vertical line position*/
    width: 0.8em;  /*length of the vertical line */
    border: 2px solid #000;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
}

.formeltree-nodes-container ul > li:last-child {
    border-left: 2px solid transparent;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}