:root {
    --nav-black: #262626;
    --nav-hover: #404040;
    --border: #797575;
    --tabell-background: #a7a79d;
    --hover: #e0e0d2;
    --text: #000000;
    --headline: #ffffff;
    --colorpick: #be5da1;
}

.sidetab-container {
    display: flex;
    flex-direction: row;
}

.sidetab-menu-container {
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
    height: 100%;
    background-color: #a8a1a6;
}

.sidetab-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid black;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 13px 13px;
    transition: 0.3s;
}

.sidetab-button:hover .sidetab-button-text {
    color: darkslategrey;
    cursor: pointer;
    overflow: visible;
}

.sidetab-content-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}