.App {
  text-align: center;
}

.logo {
  height: 4vmin;
  size: 5%;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-footer {
  min-height: 10vh;
}

.App-link {
  color: #61dafb;
}

.menu-container {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;
  padding:5%;
}

.kategori-container {
  display: flex;
  flex-direction: row;
}

.kategori-delimiter {
  background-color: #282c34;
}

.valgt-tabell {
  display: flex;
  width: 90%;
  background-color: rgb(165, 165, 158);
  border: thick solid #797575;
  color: black;
}

.satsvindu-container {
  width: 90%;
  color:black;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: small;
}

.tabell-wrapper {
  border-top: thick solid #282c34;
}

.satstabell-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  background-color: rgb(165, 165, 158);
}

.sats-header {
  font-size: x-large;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: thick solid #797575;
  padding: 1%;
}

.sats-header:hover {
  background-color: rgb(224, 223, 202);
}

.arrow {
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
