.App {
  text-align: center;
}

.logo {
  height: 4vmin;
  size: 5%;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.menu-container {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;
  padding:5%;
}

.satsvindu-container{
  width: 90%;
  color:black;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: small;
}

.satstabell-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(165, 165, 158);
}

.sats-header {
  font-size: x-large;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: thick solid #797575;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}
