:root {
  --background: #282c34;
  --border: #797575;
  --tabell-background: #a7a79d;
  --hover: #e0e0d2;
  --text: #000000;
  --headline: #ffffff;
  --colorpick: #be5da1;
}

.header {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: thick solid black;
  justify-content: space-evenly;
}

.main-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.RequestPane{
  width: 50%;
  height: 100%;
  border: thick solid black;
  overflow:auto;
}

.ResponsePane {
  width: 50%;
  height: 100%;
  border: thick solid black;
  overflow:auto;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: thick solid black;
  position:absolute;

}

.App {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  font-size: calc(10px + 2vmin);
}