name: PR build

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - 'app/**'

concurrency:
  group: pr-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  build-and-lint:
    if: github.event.pull_request.draft == false
    defaults:
      run:
        working-directory: ./app
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
          cache-dependency-path: app/package-lock.json
          registry-url: 'https://npm.pkg.github.com'
      - name: Install dependencies
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - name: Build
        run: npm run build
